@import './../../assets/sass/variables';

.nav {
    width: 100%;
    margin-bottom: 4rem;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: 3rem;
            }

            a {
                color: $gray;
                font-size: 45px;
                font-weight: lighter;
                text-decoration: none;
                transition: 0.2s;

                &.active {
                    color: $white;
                }
            }
        }
    }
}
