@import './../../assets/sass/variables';
@import './../../assets/sass/mixins';

.nav {
    width: 100%;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        width: 100%;

        li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: 3rem;

                @include breakpoint(mobile) {
                    margin: 0;
                }
            }

            a {
                color: $gray;
                font-size: 45px;
                font-weight: lighter;
                text-decoration: none;

                @include transition(0.2s);

                &.active {
                    color: $white;
                }
            }
        }
    }
}
