@mixin transition($time: 0.2s) {
    -webkit-transition: $time;
    -moz-transition: $time;
    -ms-transition: $time;
    -o-transition: $time;
    transition: $time;
}

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 1366px) {
            @content;
        }
    } @else if $point == laptop {
        @media (min-width: 64em) and (max-width: 1366px) {
            @content;
        }
    } @else if $point == mobile {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}
