@import './_variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    background-color: $darkest;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: calc('100% - 8rem');
    padding: 2rem 4rem;

    @include breakpoint(laptop) {
        width: calc('100% - 4rem');
        padding: 1rem 2rem;
    }

    @include breakpoint(mobile) {
        width: calc('100% - 2rem');
        padding: 0 1rem;
    }
}

.color-white {
    color: $white;
}

.color-gray {
    color: $gray;
}

.font-light {
    font-weight: lighter;
}

.empty {
    font-size: 20px;
}
