@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    background-color: $darkest;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: calc('100% - 8rem');
    padding: 2rem 4rem;
}

.color-white {
    color: $white;
}

.color-gray {
    color: $gray;
}
